<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about Image</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style='background-color: #0F1E32'>
    
    
   
    <div>
            <h1 style="color:#21BEDA">
                    Latest and greatest from the Hubble!
            </h1>
         <p>
             
         </p>
       
            
        <% for(var i=0; i<hubbleData.length; i++) {%>
           
            
            <ol class="rounded-list">
                    <li><a href=<%= hubbleData[i].url %> </a> <%= hubbleData[i].name %></a></li>
            </ol>   
            
             <% } %>
  

    </div>
   
    
  </body>
</html>