<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about Image</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
    
   
    <div>
         
       
            
        <% for(var i=0; i<hubbleData.length; i++) {%>
            <ol >
                    <li><a href=""><%= hubbleData[i].name %></a></li>
            </ol>    
            
             <% } %>
  

    </div>
   
    
  </body>
</html>