<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about Image</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style='background-color: #0F1E32'>
    
<!----------------------------- NAV BEGINS ------------------>
<div class="header">
  <div class="navwrapper">
    <div class="nav">
      <div class="logo">
        <h1 style="margin: 0;"><a href="#">Zester</a></h1>
      </div>					
      <ul class="navlist">
        <li class="iamselected"><a href="/">Home</a></li>
        <li><a href="/info">Info</a></li>
        <li><a href="/hubble">Hubble News</a></li>
        <li><a href="/iss">I.S.S.</a></li>
        
      </ul>
    </div>
  </div>
  <!-------------------- MOBILE NAV BEGINS ------------------------>
  
  <div class="navmobile">
    <div class="mobilelogo"><a href="#">Zester</a></div>
    <div class="toggleMenu"><img src="https://lh3.googleusercontent.com/3Tzf5ICP6hBXeVf1HDVet5GW6Yxp0DA27i51kqEbMKwZVl51YK1-WF-4DrcstNmE-3gR2R9b6NhsoZ7O3oKcVXcMKzXdSBewqMSbLtaVKQSW_N7K-OgwA0c-ycg4gDDwKcNEof4aRfkwkDUle3grstMtWeGFV1A_AKoNEjloSyBxluD67ZK1SZ4rvBEwIWiulL4hYVeeJnaAwBAgnrKILYGJ4_2_w_dTZCDD6a-mZfo88Y26oSH-K794FORGfpwwpYJppOX3tmG7j5gaY7LmXwX0zn6-Kco3hm525gc9qjKYf-w7QKWrn25gwTZiPup0vbgu5iCHFvHdtS_saNxCzZQXWXPAdZA2GTXIGHwRLUdUFU8sSm9WsJo57vrxMUC_U2Axg93l10o-ODaeP_WW2UBrScM07-iTKleOoO3I2m4XFTJX9uVQZUG3em11RlmUc9LPfkw9id7RppkSBTPn06a06x-3urIz0w1lyOS3lBJ1qq5BhWbR3LxNhR1UDujwPyC8t4v8NBgcut7kj2MOSgUjPKcSjPQ1NpSjWuvqdGlekw7tHN35h0kNRsoYDfqoHuSpl_BakFWKbuldYxULWwNopCVu4rgKCPZmevl_Vjam7KBj0M4UxFQwwXFctdNI8fmj3oKS1xSSNrZsUw_lw_OV1Tjn8LNlZBR-3oZC=s300-no" width="30"></div>
    <div class="sidemenu">
      <img class="cross" src="https://lh3.googleusercontent.com/iY0bTr9W_jdRLrqwXshfmqbflUi1Rlo2knWWLvQ5g-V-xdvByUrRtV7DVGYQ9VuK5A_h-AbHFxum1zubtabYAzgLOwGrIMaLPuJarkYHWm6a7h5HMIkhwlYhSBLq8JoW2MsDDRvyYzZMbesUr2EvqNW6yQTzygJbapw8hvxZo4e7t2u6v6_ptGmbmlCP6s0mV3jIHhca4TvQEp_UyGV6hhVzSmb0KhqguSpzdcPv3Z7G3-4tK88y6wtCUp1FKBfZkeBlHiSrBchIC8dDGNx4EvSC3_nd17x-vQRu9LlZWvM9KUbBdGMwSQKHXH7Uw9wtuqRVzQ2To024bFayR2uGAQ0MoM1YsFUStFB0NV_mJ_AtLSljfoAph0hu7uozenJASjI8oj2w1xtYrB3L0rcIBzOjC4R0bOw_jB5KOhYz7bB-LZax-KUvnrvaQS9LqG3UCEXzLdO81_mFWV_1pAuPv4DxFap8f5_WQy0-iyhq_76GRGswm2_pA1QwNlGtDgFZd2nqz36LBcbuuV8V3FELFOVZe_4KXULgcoFqL0zdhfEW4jhF28oGJ6ErnThvTMb6VR6_GknX5_2smz3cd9Yc6kkHv0pklcvFbKGIJpw9wrYYB8r5DOVxmGR0u7u5x-ZQoRjpwlhMHSNKAW4u4FeHnZYgJF6-_guWZwIWO1s7=s256-no" width="20">
      <div class="mobilelogoinsidebar">
        
      </div>
      <ul class="navlistmobile">
          <li class="iamselected"><a href="/">Home</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="/hubble">Hubble News</a></li>
          <li><a href="/iss">I.S.S.</a></li>
        
      </ul>
    </div>
  </div>
  <!-------------------- MOBILE NAV ENDS -------------------------->
</div>
<!------------------------------- NAV ENDS ---------------------->
   
    <div id= "hubbleBody" >
            <h1 style="color:#21BEDA">
                    Latest and greatest from the Hubble!
            </h1>
         <p>
             
         </p>
       
            
        <% for(var i=0; i<hubbleData.length; i++) {%>
           
            
            <ol class="rounded-list">
                    <li><a href= <%= hubbleData[i].url %> </a> <%= hubbleData[i].name %></a></li>
            </ol>   
            
             <% } %>
  

    </div>
   
    
  </body>
</html>