<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about Image</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style='background-color: #0F1E32'>
    
    
   
    <div id="bubbles">
            <h1 style="color:#21BEDA">
                    Information on NASA Image of the Day:
            </h1>
            <p style="color:#21BEDA">According to <i>Google Atrifical Intelligence Vision Engine</i>,
                the following could be the keywords used to describe the NASA image of the day. </p>


    <p>
       
            
        <% for(var i=0; i<labels.length; i++) {%>
            <ol class="rounded-list">
                    <li><a href=""><%= labels[i].description %></a></li>
            </ol>    
            
             <% } %>
    
    
    </p> 

    </div>
   
    
  </body>
</html>