<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about Image</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
   <p>
       
        <% for(var i=0; i<labels.length; i++) {%>
            <ul>
                    <li><%= labels[i].description %></li>
            </ul>    
            
             <% } %>
    
    
    </p> 
   
    
  </body>
</html>