<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script   src="https://code.jquery.com/jquery-3.3.1.min.js"    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="    crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/coordinates.js"></script>

</head>
<body>
    
          <!----------------------------- NAV BEGINS ------------------>
          <div class="header">
              <div class="navwrapper">
                <div class="nav">
                  <div class="logo">
                    <h1 style="margin: 0;"><a href="#">Zester</a></h1>
                  </div>					
                  <ul class="navlist">
                    <li class="iamselected"><a href="#">Home</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/hubble">Hubble News</a></li>
                    <li><a href="/iss">I.S.S.</a></li>
                    
                  </ul>
                </div>
              </div>
              <!-------------------- MOBILE NAV BEGINS ------------------------>
              
              <div class="navmobile">
                <div class="mobilelogo"><a href="#">Zester</a></div>
                <div class="toggleMenu"><img src="https://lh3.googleusercontent.com/3Tzf5ICP6hBXeVf1HDVet5GW6Yxp0DA27i51kqEbMKwZVl51YK1-WF-4DrcstNmE-3gR2R9b6NhsoZ7O3oKcVXcMKzXdSBewqMSbLtaVKQSW_N7K-OgwA0c-ycg4gDDwKcNEof4aRfkwkDUle3grstMtWeGFV1A_AKoNEjloSyBxluD67ZK1SZ4rvBEwIWiulL4hYVeeJnaAwBAgnrKILYGJ4_2_w_dTZCDD6a-mZfo88Y26oSH-K794FORGfpwwpYJppOX3tmG7j5gaY7LmXwX0zn6-Kco3hm525gc9qjKYf-w7QKWrn25gwTZiPup0vbgu5iCHFvHdtS_saNxCzZQXWXPAdZA2GTXIGHwRLUdUFU8sSm9WsJo57vrxMUC_U2Axg93l10o-ODaeP_WW2UBrScM07-iTKleOoO3I2m4XFTJX9uVQZUG3em11RlmUc9LPfkw9id7RppkSBTPn06a06x-3urIz0w1lyOS3lBJ1qq5BhWbR3LxNhR1UDujwPyC8t4v8NBgcut7kj2MOSgUjPKcSjPQ1NpSjWuvqdGlekw7tHN35h0kNRsoYDfqoHuSpl_BakFWKbuldYxULWwNopCVu4rgKCPZmevl_Vjam7KBj0M4UxFQwwXFctdNI8fmj3oKS1xSSNrZsUw_lw_OV1Tjn8LNlZBR-3oZC=s300-no" width="30"></div>
                <div class="sidemenu">
                  <img class="cross" src="https://lh3.googleusercontent.com/iY0bTr9W_jdRLrqwXshfmqbflUi1Rlo2knWWLvQ5g-V-xdvByUrRtV7DVGYQ9VuK5A_h-AbHFxum1zubtabYAzgLOwGrIMaLPuJarkYHWm6a7h5HMIkhwlYhSBLq8JoW2MsDDRvyYzZMbesUr2EvqNW6yQTzygJbapw8hvxZo4e7t2u6v6_ptGmbmlCP6s0mV3jIHhca4TvQEp_UyGV6hhVzSmb0KhqguSpzdcPv3Z7G3-4tK88y6wtCUp1FKBfZkeBlHiSrBchIC8dDGNx4EvSC3_nd17x-vQRu9LlZWvM9KUbBdGMwSQKHXH7Uw9wtuqRVzQ2To024bFayR2uGAQ0MoM1YsFUStFB0NV_mJ_AtLSljfoAph0hu7uozenJASjI8oj2w1xtYrB3L0rcIBzOjC4R0bOw_jB5KOhYz7bB-LZax-KUvnrvaQS9LqG3UCEXzLdO81_mFWV_1pAuPv4DxFap8f5_WQy0-iyhq_76GRGswm2_pA1QwNlGtDgFZd2nqz36LBcbuuV8V3FELFOVZe_4KXULgcoFqL0zdhfEW4jhF28oGJ6ErnThvTMb6VR6_GknX5_2smz3cd9Yc6kkHv0pklcvFbKGIJpw9wrYYB8r5DOVxmGR0u7u5x-ZQoRjpwlhMHSNKAW4u4FeHnZYgJF6-_guWZwIWO1s7=s256-no" width="20">
                  <div class="mobilelogoinsidebar">
                   
                  </div>
                  <ul class="navlistmobile">
                      <li class="iamselected"><a href="#">Home</a></li>
                      <li><a href="/info">Info</a></li>
                      <li><a href="/hubble">Hubble News</a></li>
                      <li><a href="/iss">I.S.S.</a></li>
                    
                  </ul>
                </div>
              </div>
              <!-------------------- MOBILE NAV ENDS -------------------------->
            </div>
             <!------------------------------- NAV ENDS ---------------------->




  <!-- map start here -->
  <div id="map">
  <script  type="text/javascript" charset="UTF-8" >    
    marker = null;
/**
 * Moves the map to display over Berlin
 *
 * @param  {H.Map} map      A HERE Map instance within the application
 */
function moveMapToBerlin(map, lat, long){
  
var animatedSvg =
  '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" ' + 
  'y="0px" style="margin:-112px 0 0 -32px" width="136px"' + 
  'height="150px" viewBox="0 0 136 150"><ellipse fill="#000" ' +
  'cx="32" cy="128" rx="36" ry="4"><animate attributeName="cx" ' + 
  'from="32" to="32" begin="0s" dur="1.5s" values="96;32;96" ' + 
  'keySplines=".6 .1 .8 .1; .1 .8 .1 1" keyTimes="0;0.4;1"' + 
  'calcMode="spline" repeatCount="indefinite"/>' +  
  '<animate attributeName="rx" from="36" to="36" begin="0s"' +
  'dur="1.5s" values="36;10;36" keySplines=".6 .0 .8 .0; .0 .8 .0 1"' + 
  'keyTimes="0;0.4;1" calcMode="spline" repeatCount="indefinite"/>' +
  '<animate attributeName="opacity" from=".2" to=".2"  begin="0s" ' +
  ' dur="1.5s" values=".1;.7;.1" keySplines=" .6.0 .8 .0; .0 .8 .0 1" ' +
  'keyTimes=" 0;0.4;1" calcMode="spline" ' +
  'repeatCount="indefinite"/></ellipse><ellipse fill="#1b468d" ' +
  'cx="26" cy="20" rx="16" ry="12"><animate attributeName="cy" ' +
  'from="20" to="20" begin="0s" dur="1.5s" values="20;112;20" ' +
  'keySplines=".6 .1 .8 .1; .1 .8 .1 1" keyTimes=" 0;0.4;1" ' +
  'calcMode="spline" repeatCount="indefinite"/> ' +
  '<animate attributeName="ry" from="16" to="16" begin="0s" ' + 
  'dur="1.5s" values="16;12;16" keySplines=".6 .0 .8 .0; .0 .8 .0 1" ' +
  'keyTimes="0;0.4;1" calcMode="spline" ' +
  'repeatCount="indefinite"/></ellipse></svg>';

// Create an icon object, an object with geographic coordinates and a marker:
coords = null;
var icon = new H.map.DomIcon(animatedSvg);
if(lat !== undefined && long !== undefined) {
  coords = { lng: long, lat: lat};
  console.log(lat);
} else { 
  coords = { lng: <%= longitude%>, lat: <%= latitude%> }; 
}
if(marker) {
  map.removeObject(marker);
}

  marker = new H.map.DomMarker(coords, {icon: icon});



// Set map center and zoom, add the marker to the map:
map.setCenter(coords);
map.setZoom(5);
map.addObject(marker);

}


/**
 * Boilerplate map initialization code starts below:
 */

//Step 1: initialize communication with the platform
var platform = new H.service.Platform({
  app_id: 'devportal-demo-20180625',
  app_code: '9v2BkviRwi9Ot26kp2IysQ',
  useHTTPS: true
});
var pixelRatio = window.devicePixelRatio || 1;
var defaultLayers = platform.createDefaultLayers({
  tileSize: pixelRatio === 1 ? 256 : 512,
  ppi: pixelRatio === 1 ? undefined : 320
});

//Step 2: initialize a map  - not specificing a location will give a whole world view.
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map, {pixelRatio: pixelRatio});

//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
var ui = H.ui.UI.createDefault(map, defaultLayers);

// Now use the map as required...
moveMapToBerlin(map);



setInterval(function () {
    $.get( "http://localhost:3000/coordinates", function( coords ) {
        //$( ".result" ).html( data );
        console.log(coords);
        moveMapToBerlin(map, coords.latitude, coords.longitude);

      });
}, 3000);
  </script>
  </div>
<!-- map div ends here -->

</body>
</html>

